**/__pycache__/
**/*.pyc
.mypy_cache/
.venv*
*.egg-info
dist

.dockerignore
.git
.gitignore
.github
**/.gitkeep

.build

Dockerfile
LICENSE
Makefile
README.md
requirements-dev.txt

# For tag creation
tags
pyramid

todo
