# Application
**/__pycache__/
**/*.pyc
*.egg-info
dist
setup.py
MANIFEST.in
**/secrets.env

# For Development
.git
.gitignore
.github
**/.gitkeep
tags
pyramid
setup.cfg
requirements-dev.txt
.mypy_cache/
.venv*
LICENSE
README.md
.build
Makefile
tmp*
todo

# Docker
Dockerfile
.dockerignore

# GCP
**/cloudbuild.yaml
gcp
.gcloudignore
