resources:
  - name: {{ env["name"] }}-imagebuild
    type: gcp-types/cloudbuild-v1:projects.triggers
    properties:
      name: {{ env["name"] }}-imagebuild
      description: A trigger to build a container image of this project
      filename: cloudbuild.yaml
      github:
        name: github_traverse
        owner: FGtatsuro
        push:
          branch: (master|.*-triggertest)
      includedFiles:
        - Dockerfile
        - github_traverse/**/*
        - requirements.txt
        - development.ini
        - .dockerignore
  - name: {{ env["name"] }}-noticiationdeploy
    type: gcp-types/cloudbuild-v1:projects.triggers
    properties:
      name: {{ env["name"] }}-noticiationdeploy
      description: A trigger to deploy notification script when it is updated
      filename: gcp/notification/cloudbuild.yaml
      github:
        name: github_traverse
        owner: FGtatsuro
        push:
          branch: (master|.*-triggertest)
      includedFiles:
        - gcp/notification/*
